<ion-header>
  <ion-toolbar color="tangaroa">
    <ion-buttons slot="start" color="light">
      <ion-back-button></ion-back-button>
      <ion-text color="light" class="ion-text-center">
        <h1>25.Kisah Nabi Muhammad</h1>
        </ion-text>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
      
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium"></ion-title>
    </ion-toolbar>
  </ion-header>
  <video
  width="100%"
  controls="controls"
  preload="metadata"
  autoplay="autoplay"
  webkit-playsinline="webkit-playsinline"
  class="videoPlayer">
  <source src="assets/kisahmuhammad.mp4" type="video/mp4" />
  </video>
  </ion-content>
  