<ion-header>
  <ion-toolbar color="tangaroa" class="ion-text">
    <ion-title>FAQ</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
      <ion-content fullscreen>
        
        <ion-card class="transparent">
          <ion-card-header>
            <ion-card-subtitle>Question 1</ion-card-subtitle>
            <ion-card-title>What is the best way to explain Islam to a child?</ion-card-title>
          </ion-card-header>
          <ion-card-content><b>
            Islam implies "surrender" or "submission" to God's will in Arabic.
            The prophet Muhammed, who was born in Mecca about 570 A.D. and resided in Medina around 622 A.D., created Islam. Muslims consider Mohammed to be the most significant and final in a line of prophets that includes Abraham, Moses, and Jesus.
          </b></ion-card-content>
        </ion-card>

        <ion-card class="transparent">
          <ion-card-header>
            <ion-card-subtitle>Question 2</ion-card-subtitle>
            <ion-card-title>What is Islam's core narrative?</ion-card-title>
          </ion-card-header>
          <ion-card-content><b>
            Islam is an Arabic term that means "to submit" or "to obey."
            It's derived from a word that means "peace." Muslims, like Christians and Jews, are monotheistic, meaning they believe in just one God, whom they refer to as Allah.
         </b> </ion-card-content>
        </ion-card>

        <ion-card class="transparent">
          <ion-card-header>
            <ion-card-subtitle>Question 3</ion-card-subtitle>
            <ion-card-title>For children, who is Allah?</ion-card-title>
          </ion-card-header>
          <ion-card-content><b>
            Allah is an Arabic word that means "God." It typically refers to the Islamic God, however other religions in the Middle East occasionally use the same title for their God. Allah is the primary term for "God" in Islam.
            Muslims have 99 names for God, but the most prevalent is "Allah," which encompasses all of them.
          </b></ion-card-content>
        </ion-card>
        <ion-card class="transparent">
          <ion-card-header>
            <ion-card-subtitle>Question 4</ion-card-subtitle>
            <ion-card-title>Where did Allah originate?</ion-card-title>
          </ion-card-header>
          <ion-card-content><b>
            Allah, Arabic Allh ("God"), is Islam's one and only God. Allah is most likely a contraction of the Arabic al-Ilh, which means "the God."
            The term may be traced back to the oldest Semitic literature, when the words for deity were il, el, or eloah, the latter two of which are used in the Hebrew Bible (Old Testament).
          </b></ion-card-content>
        </ion-card>
        <ion-card class="transparent">
          <ion-card-header><b>
            <ion-card-subtitle>Question 5</ion-card-subtitle>
            <ion-card-title>How do I instil a love for Allah in my child?</ion-card-title>
          </b></ion-card-header>
          <ion-card-content><b>
            Show and explain them all the reasons why they should adore Allah. They would automatically follow you if they hear you talk about how much you adore Allah all the time.
            Keep telling your children that Allah loves them seventy times more than you, and they will automatically follow.
          </b></ion-card-content>
        </ion-card>

      </ion-content>

