<ion-header>
  <ion-toolbar color="tangaroa" class="ion-text-center">
    <ion-title>6. Doa Nabi Yusuf</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
      <ion-content fullscreen>
        <ion-card class="transparent"> 
          <ion-card-header>
            <ion-card-title>فَاطِرَ السَّمَاوَاتِ وَالْأَرْضِ أَنْتَ وَلِيِّي فِي الدُّنْيَا وَالْآخِرَةِ تَوَفَّنِي مُسْلِمًا وَأَلْحِقْنِي بِالصَّالِحِينَ (101) </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Artinya: “Wahai Tuhan, Pencipta langit dan bumi, Engkaulah pelindungku di dunia dan akhirat, wafatkanlah aku dalam keadaan muslim dan gabungkanlah aku dengan orang-orang shaleh” (QS Yusuf 101).
          </ion-card-content>
          <audio src="assets/ayat101.mp3"controls></audio>
        </ion-card>