<ion-header>
  <ion-toolbar color="tangaroa" class="ion-text">
    <ion-title>1. Nabi Adam A.S </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
      <ion-content fullscreen>
        <ion-card class="transparent">
          <ion-card-header>
            <ion-card-title>Nama: </ion-card-title>
          </ion-card-header>
          <ion-card-content>Adam As </ion-card-content>

          <ion-card-header>
            <ion-card-title>Usia: </ion-card-title>
          </ion-card-header>
          <ion-card-content>930 tahun </ion-card-content>

          <ion-card-header>
            <ion-card-title>Tempoh sejarah: </ion-card-title>
          </ion-card-header>
          <ion-card-content>5872-4942 SM </ion-card-content>

          <ion-card-header>
            <ion-card-title>Tempat diturunkan di bumi: </ion-card-title>
          </ion-card-header>
          <ion-card-content>India. Namun ada yang berpendapat baginda diturunkan di Jazirah Arab.</ion-card-content>

          <ion-card-header>
            <ion-card-title>Jumlah keturunannya: </ion-card-title>
          </ion-card-header>
          <ion-card-content>40 laki-laki dan perempuan </ion-card-content>

          <ion-card-header>
            <ion-card-title>Tempat wafat: </ion-card-title>
          </ion-card-header>
          <ion-card-content>India. Ada yang berpendapat di Mekah.</ion-card-content>

          <ion-card-header>
            <ion-card-title>Sebutan nama baginda di dalam Al-Quran: </ion-card-title>
          </ion-card-header>
          <ion-card-content>25 kali</ion-card-content>

        </ion-card>
