<ion-header>
  <ion-toolbar color="tangaroa">
    <ion-buttons slot="start" color="light">
      <ion-back-button></ion-back-button>
      <ion-text class="yoko" color="light" class="ion-text-center">
        <h2> Nabi Adam(آدم‎)</h2>
      </ion-text>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

    <ion-content fullscreen class="ion-padding" scroll-y="false">
      
     
       <ion-slides>
        <ion-slide>
          <div class="slide">

            <p><b>Sebelum mencipta Nabi Adam, Allah Subhanahu wa ta'ala telah mencipta malaikat dari cahaya dan jin dari api.
              Kemudian Allah menciptakan manusia dari tanah dan ditiupkan roh ke dalamnya maka terjadilah Nabi Adam.
              Selepas Adam tercipta, Allah memberikan ilmu tentang alam semesta yang tidak diberikan pada makhluk lain.
                Selepas itu, Allah menyuruh para malaikat dan jin untuk bersujud pada Adam.
            </b></p>
              <ion-card>
                <audio src="assets/adam1.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <p><b>Para malaikat menurut perintah Allah dan bersujud pada Adam, tetapi jin telah menolak perintah Allah 
              kerana merasakan dirinya lebih mulia dari Adam kerana mereka diciptakan dari api sedangkan Adam dicipta dari tanah</b></p>
              <p><b>Jin yang menolak untuk bersujud pada Adam dikutuk dan dilaknat Allah  dan menjadi makhluk sesar bernama Iblis.
                Iblis bersumpah menggoda Adam dan keturunannya hingga hari kiamat untuk melanggar perintah Allah.</b></p>
              <ion-card>
                <audio src="assets/adam2.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <p><b>Lalu Adam ditempatkan di syurga yang penuh dengan nikmat.Namun Adam merasa sunyi maka Allah menciptakan Siti Hawa untuk meneman Adam di syurga.</b></p>
              <p><b>Nabi Adam dan Siti Hawa hidup bahagia di syurga.Semua yang ada di syurga boleh mereka nikmati sepuasnya.</b></p>
              <ion-card>
                <audio src="assets/adam3.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <p><b>Namun, ada satu larangan yang tak boleh dilanggar ,yakni Adam dan Hawa tidak boleh mendekati pohon Khuldi ataupun memakan buahnya.</b></p>
              <p><b>Iblis yang merasa iri hati pada Adam,berusaha untuk menggoda Adam dan Hawa untuk melanggar larangan tersebut.
                Pada awalnya,Nabi Adam dan Hawa teguh pada keiman mereka dan tidak mahu tunduk pada godaan Iblis.</b></p>
              <ion-card>
                <audio src="assets/adam4.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <p><b>Akan tetapi,Iblis tidak menyerah dan terus menggoda mereka untuk merasa buah khuldi.
              Hingga akhirnya Adam dan Hawa pun tergoda dan memakan buah larangan tersebut.</b></p>
              <p><b>Allah Subhanahu wa ta'ala marah pada Adam dan Hawa kerana melanggar laranganya.
                Mereka berdua kemudiannya diusir dari syurga dan diturunkan ke Bumi.</b></p>
              <ion-card>
                <audio src="assets/adam5.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <p><b>Di bumi inilah,Adam dan Hawa mulai mendirikan peradaban umat manusia.
              Mereka memiliki banyak anak yang kemudian berpecah ke seluruh dunia,hingga menjadi banyak suku dan bangsa yang berbeza.</b></p>
              
              <ion-card>
                <audio src="assets/adam6.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

      </ion-slides>
    </ion-content>
 