<ion-header>
  <ion-toolbar color="tangaroa">
    <ion-buttons slot="start" color="light">
      <ion-back-button></ion-back-button>
      <ion-text color="light" class="ion-text-center">
        <h1> Nabi Hud(هود)</h1>
        </ion-text>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

    <ion-content fullscreen class="ion-padding" scroll-y="false">
      
       <ion-slides>
        <ion-slide>
          <div class="slide">
            <p>Nabi Hud hidup sekitar 2320-2450 sebelum Masehi. Dia adalah putra Abdullah bin Ribah bin Syam bin Nuh.
              Beliau merupakan salah satu keturunan suku 'Aad. </p>
              <p>Allah SWT berfirman : "Dan ingatlah (Hud) saudara kaum 'Aad, yaitu ketika dia memberi peringatan kepada kaumnya di Al-Ahqaaf " (Surah Al-Ahqaaf ayat 21).</p>
              <ion-card>
                <audio src="assets/hud1.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <p>Suku 'Aad merupakan suku tertua sesudah Nabi Nuh.
              Suku 'Aad ini tidak mengenal Allah Subhanahu wa ta'ala pencipta alam semesta. Mereka membuat patung-patung yang diberi nama Shamud dan Alhattar dan disembah sebagai Tuhan mereka.</p>
              <p>Menurut kepercayaan patung tersebut dapat memberikan kebahagiaan, kebaikan dan keuntungan serta dapat menolak kejahatan, kerugian dan segala musibah. </p>
              <ion-card>
                <audio src="assets/hud2.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <p>Setelah Allah menurunkan air bah kepada kaum-kaum kafir zaman Nabi Nuh, orang-orang yang beriman pun diselamatkan dari bahaya maut tersebut.</p>
            <p>Usai peristiwa banjir dahsyat tersebut, kaum Nabi Nuh yang mukmin melahirkan anak dan cucu sebagai keturunan mereka.
              Setelah lahir, anak cucu mereka kemudian hidup terpencar di seluruh pelosok yang berjauhan.</p>
              <ion-card>
                <audio src="assets/hud3.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <p>Mereka berjauhan dan terbentuk menjadi suku, kaum dan bangsa.
              Masing-masing golongan, suku, dan bangsa berkembang menurut adat kebiasaan atau tradisi masing-masing.</p>
              <p>Nabi Hud pernah berkata kepada kaumnya, "Wahai kaumku! Sembahlah Allah! Sebenarnya tiada Tuhan bagi kamu selain dari padaNya.
                Kamu hanyalah orang-orang yang mengada-adakan perkara-perkara yang palsu (terhadap Allah)".</p>
              <ion-card>
                <audio src="assets/hud4.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <p>Namun kaum 'Aad masih enggan menerima ajaran Nabi Hud. Beliau tidak putus asa untuk mengajak kaumnya kembali ke jalan yang benar.
              Dia berseru kembali kepada kaumnya agar bertaubat.</p>
              <ion-card>
                <audio src="assets/hud5.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <p>"Wahai kaumku! Mintalah ampun kepada Tuhan kamu. Kemudian kembalilah taat kepadanya, supaya menghantarkan kepada kamu hujan lebat serta menambahkan kamu kekuatan di samping kekuatan kamu yang sedia ada.
              Dan janganlah kamu membelakangkan seruanku dengan terus melakukan dosa!".</p>
              <ion-card>
                <audio src="assets/hud6.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <p>Kaum 'Aad pun menjawab "Wahai Hud! Engkau tidak membawa kepada kami sebarang keterangan yang membuktikan kebenaranmu dan kami tidak akan meninggalkan penyembahan Tuhan-tuhan kami dengan sebab kata-katamu itu! Kami tidak sekali-kali percaya kepadamu".</p>
              
              <ion-card>
                <audio src="assets/hud7.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <p>Suatu ketika, awan hitam terlihat mengelilingi kaum 'Aad. Dengan angkuhnya, kaum 'Aad memandang langit tersebut dan berkata kepada Nabi Hud, "Lihat awan itu yang menandakan hujan turun sebentar lagi.
              Hujan itu tentu menyirami tanah dan tanam-tanaman kita. Binatang ternakan kita sudah tentu dapat minum".</p>
              
              <ion-card>
                <audio src="assets/hud8.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <p>Nabi Hud yang mendengar ucapan tersebut membalas dengan berkata, "Itu bukan awan rahmat tetapi awan yang membawa angin ribut yang membinasakan dan mengalahkan kamu.Angin yang penuh azab siksaan yang sungguh pedih".</p>
              <p>Mereka dengan angkuhnya berkata kami akan mendaki puncak bukit yang lebih tinggi, nanti kami akan selamat.</p>
              <ion-card>
                <audio src="assets/hud9.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <p>Usai Nabi Hud mengucapkan kata-kata tersebut, tiba-tiba munculah angin yang meniup dengan dahsyatnya. Binatang ternak kaum 'Aad diterbangkan.
              Angin ribut tersebut menyambar segala yang ada, termasuk gunung-gunung yang menjadi hancur dan rata.</p>
              <ion-card>
                <audio src="assets/hud10.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <p>Kaum 'Aad yang melihat kejadian tersebut langsung takut dan berlarian mencari tempat perlindungan dengan bersembunyi di dalam rumah. Selama tujuh malam dan delapan hari, angin tersebut tidak berhenti.
              Mayat-mayat kaum 'Aad berceceran, ibarat pohon-pohon yang tumbang. Hanya Nabi Hud dan pengikut setianyalah yang selamat dari azab yang diturunkan oleh Allah SWT. </p>
              <ion-card>
                <audio src="assets/hud11.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

      </ion-slides>
    </ion-content>
