<ion-header>
  <ion-toolbar color="tangaroa" class="ion-text">
    <ion-title>8 Nabi Ismail A.S </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
      <ion-content fullscreen>
        <ion-card class="transparent">
          <ion-card-header>
            <ion-card-title>Nama: </ion-card-title>
          </ion-card-header>
          <ion-card-content> Ismail bin Ibrahim</ion-card-content>

          <ion-card-header>
            <ion-card-title>Keturunanya: </ion-card-title>
          </ion-card-header>
          <ion-card-content> Adam As. ⇒ Syits ⇒ Anusy ⇒ Qinan ⇒ Mihlail ⇒ Yarid ⇒ Idris As. ⇒ Matusyalih ⇒ Lamak ⇒ Nuh As. ⇒ Sam ⇒ Arfakhsyad ⇒ Syalih ⇒ Abir ⇒ Falij ⇒ Ra’u ⇒ Saruj ⇒ Nahur ⇒ Tarakh ⇒ Ibrahim As. ⇒ Ismail As.  </ion-card-content>

          <ion-card-header>
            <ion-card-title>Usia: </ion-card-title>
          </ion-card-header>
          <ion-card-content>137 tahun </ion-card-content>

          <ion-card-header>
            <ion-card-title>Tempoh sejarah: </ion-card-title>
          </ion-card-header>
          <ion-card-content>1911-1774 SM</ion-card-content>

          <ion-card-header>
            <ion-card-title>Tempat diutuskan: </ion-card-title>
          </ion-card-header>
          <ion-card-content>Mekah</ion-card-content>

          <ion-card-header>
            <ion-card-title>Jumlah keturunannya: </ion-card-title>
          </ion-card-header>
          <ion-card-content> 12 orang anak</ion-card-content>

          <ion-card-header>
            <ion-card-title>Tempat wafat: </ion-card-title>
          </ion-card-header>
          <ion-card-content>Mekah</ion-card-content>

          <ion-card-header>
            <ion-card-title>Sebutan kaumnya: </ion-card-title>
          </ion-card-header>
          <ion-card-content>Amaliq dan Kabilah Yaman</ion-card-content>

          <ion-card-header>
            <ion-card-title>Sebutan nama baginda di dalam Al-Quran: </ion-card-title>
          </ion-card-header>
          <ion-card-content>12 kali</ion-card-content>

        </ion-card>
        </ion-content>
