<ion-header>
  <ion-toolbar color="tangaroa">
    <ion-buttons slot="start" color="light">
      <ion-back-button></ion-back-button>
      <ion-text color="light" class="ion-text-center">
        <h1> Nabi Ibrahim (ابراهيم)</h1>
        </ion-text>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

    <ion-content fullscreen class="ion-padding" scroll-y="false">
      
       <ion-slides>
        <ion-slide>
          <div class="slide">
            <p>Nabi Ibrahim A.S merupakan nabi ke-6 dalam sejarah rasul yang wajib kita ketahui.Baginda juga merupakan salah seorang rasul Ulu-Al Azmi. Gelaran ini diberi atas kesabarannya yang tinggi menghadapi ujian.
              Baginda diutuskan ditengah-tengah kaum yang mensyirikkan Allah. </p>
              <ion-card>
                <audio src="assets/ib1.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <p>Bapa Nabi Ibrahim merupakan pembuat patung berhala yang disembah oleh kaumnya ketika itu. Kerajaan tersebut merupakan kerajaan Babylon yang diperintah oleh Raja Namrud.
              Raja Namrud dinukilkan sebagai pemerintah yang zalim dan mengakui dirinya sebagai tuhan.</p>
             
              <ion-card>
                <audio src="assets/ib2.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <p>Raja Namrud bermimpi disuatu malam dimana seorang anak lelaki kecil masuk ke biliknya lalu memijak mahkotanya.
              Raja Namrud segera memanggil ahli nujum untuk menilik mimpinya. </p>
            <p>Menurut mereka, akan lahir seorang anak lelaki yang akan merampas takhta Raja Namrud serta menjatuhkan kerajaan Babylon.</p>
              <ion-card>
                <audio src="assets/ib3.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <p>Raja Namrud memerintahkan agar kesemua bayi lelaki mesti dibunuh. Atas kuasa Allah, Nabi Ibrahim sewaktu kecilnya dipelihara Allah dimana ibunya sempat menyembunyikan diri di gua sehingga lahirnya Baginda ke dunia.</p>
              <p>Allah telah mengurniakan kecerdasan akal fikiran kepada Baginda A.S dimana baginda mula memikirkan hal-hal ketuhanan diawal usianya.</p>
              <ion-card>
                <audio src="assets/ib4.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <p>Setelah dikurniakan petunjuk Allah, baginda segera menasihati serta mengajak kaumnya termasuklah bapanya sendiri untuk mentauhidkan Allah.</p>
            <p>Hal ini jelas membuktikan bahawa penyembahan berhala yang dilakukan kaumnya secara terang-terangan itu adalah perbuatan yang mensyirikkan Allah.
              Namun, mereka tetap berdegil. Mereka tidak mengendahkan nasihat Nabi Ibrahim.</p>
              <ion-card>
                <audio src="assets/ib5.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <p>Perdebatan antara Nabi Ibrahim dan Raja Namrud dimana baginda berkata, “Tuhanku adalah yang menghidupkan dan mematikan”. </p>
            <p>Raja Namrud yang mengakui dirinya tuhan itu menyatakan bahawa dia dapat menghidupkan dan mematikan yang bermaksud jika dia hendak membunuh dua orang, dia boleh membunuh seorang lalu membiarkan seorang lagi hidup.</p>
              <ion-card>
                <audio src="assets/ib6.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <p>Kesombongan Raja Namrud jelas terserlah apabila dia melemparkan Nabi Ibrahim A.S ke dalam api. Hal ini bermula apabila Baginda A.S tidak menyertai pesta keramaian kaumnya. </p>
            <p>Baginda tidak turut serta atas alasan sakit. Secara senyap, baginda memulakan langkah dengan menghancurkan patung-patung berhala yang terdapat di dataran luas perkampungannya kecuali patung yang paling besar diantaranya.</p>
              
              <ion-card>
                <audio src="assets/ib7.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <p>Setelah kaumnya pulang dari pesta tersebut, alangkah terkejutnya mereka apabila mendapati seluruh patung berhala semuanya musnah.</p>
              <p>Berita musnahnya patung berhala tersebut sampai kepengetahuan Raja Namrud lalu memanggil Nabi Ibrahim A.S ke istana.</p>
              <ion-card>
                <audio src="assets/ib8.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <p>Raja Namrud bertanyakan adakah Nabi Ibrahim yang memusnahkan berhala itu.
              Namun baginda menjawab, “Patung berhala yang besar itu yang melakukannya, tanyakanlah kepada berhala itu jika ia dapat berbicara”. </p>
              <p>Raja Namrud menjawab sudah tentu patung itu tidak dapat menjawabmu kerana patung itu tidak mampu berkata-kata.</p>
              <ion-card>
                <audio src="assets/ib9.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <p>Raja Namrud menjadi murka setelah dimalukan oleh Nabi Ibrahim A.S didepan pengikutnya.
              Lantas, Baginda dihukum atas keberaniannya mempersoalkan Tuhan mereka.</p>
              <p> Pengikut Raja Namrud mula mengumpul kayu bakar dengan membuat tempat pembakaran yang sangat besar.</p>
              <ion-card>
                <audio src="assets/ib10.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <p>Nabi Ibrahim dicampakkan ke dalam api yang sedang marak.
              Kesemua yang hadir menyaksikan seksaan itu yakin bahawa baginda akan rentung dimamah api.</p>
              <p>Namun, dengan kasih Allah, api itu tidak sedikit pun mencederakan baginda A.S dan baginda terselamat dari diseksa.
                Sebahagian yang melihat keajaiban itu mempercayai dakwah Nabi Ibrahim A.S atas izin Allah.</p>
              <ion-card>
                <audio src="assets/ib11.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <p>Menurut sejarahwan, Raja Namrud enggan menerima dakwah Nabi Ibrahim A.S.
              Kemudian, Allah mengirimkan sekecil-kecil tenteranya iaitu nyamuk untuk mengazab Raja Namrud disebabkan kezalimannya terhadap kekasih Allah iaitu Nabi Ibrahim A.S dan pengikutnya.</p>
              <ion-card>
                <audio src="assets/ib12.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        
        <ion-slide>
          <div class="slide">
            <p>Nyamuk tersebut masuk ke dalam hidung Raja Namrud lalu dia memukul kepalanya menggunakan besi untuk mengeluarkan nyamuk tersebut. Begitulah sadisnya kisah Raja Namrud menemui ajal.</p>
              <ion-card>
                <audio src="assets/ib13.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

      </ion-slides>
    </ion-content>
