<ion-header>
  <ion-toolbar color="tangaroa" class="ion-text">
    <ion-title> About Us</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
      <ion-content fullscreen>
        <ion-card class="transparent">
          <ion-card-header>
            <ion-card-title></ion-card-title>
          </ion-card-header>
          <ion-card-content><b>
            Welcome to Islamic Stories, your one-stop source for all you need to know about the prophets and apostles. We're committed to bringing you the most engaging content possible, with an emphasis on dependability and customer service.
          </b></ion-card-content>
        </ion-card>
</ion-content>

