<ion-header>
  <ion-toolbar color="tangaroa" class="ion-text-center">
    <ion-title>7. Doa Nabi Syuib</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
      <ion-content fullscreen>
        <ion-card class="transparent">
          <ion-card-header>
            <ion-card-title>وَسِعَ رَبُّنَا كُلَّ شَيْءٍ عِلْمًا عَلَى اللَّهِ تَوَكَّلْنَا رَبَّنَا افْتَحْ بَيْنَنَا وَبَيْنَ قَوْمِنَا بِالْحَقِّ وَأَنْتَ خَيْرُ الْفَاتِحِينَ (89)</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Artinya: “Pengetahuan Tuhan kami meliputi segala sesuatu. Hanya kepada Allah kami bertawakal. Ya Tuhan kami, berilah keputusan antara kami dan kaum kami dengan hak. Engkaulah pemberi keputusan terbaik” (QS Al-A’raf, 89)
          </ion-card-content>
          <audio src="assets/ayat89.m4a"controls></audio>
        </ion-card>