<ion-header>
  <ion-toolbar color="tangaroa" class="ion-text">
    <ion-title>25. Nabi Muhammad S.A.W </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
      <ion-content fullscreen>
        <ion-card class="transparent">
          <ion-card-header>
            <ion-card-title>Nama: </ion-card-title>
          </ion-card-header>
          <ion-card-content> Muhammad bin Abdullah</ion-card-content>

          <ion-card-header>
            <ion-card-title>Keturunan Ayah: </ion-card-title>
          </ion-card-header>
          <ion-card-content>Adam As. ⇒ Syits ⇒ Anusy ⇒ Qinan ⇒ Mihlail ⇒ Yarid ⇒ Idris As. ⇒ Matusyalih ⇒ Lamak ⇒ Nuh As. ⇒ Sam ⇒ Arfakhsyad ⇒ Syalih ⇒ Abir ⇒ Falij ⇒ Ra’u ⇒ Saruj ⇒ Nahur ⇒ Tarakh ⇒ Ibrahim As. ⇒ Ismail As. ⇒ Nabit ⇒ Yasyjub ⇒ Ya’rub ⇒ Tairah ⇒ Nahur ⇒ Muqawwim ⇒ Udad ⇒ Adnan ⇒ Ma’ad ⇒ Nizar ⇒ Mudhar ⇒ Ilyas ⇒ Mudrikah ⇒ Khuzaimah ⇒ Kinanah ⇒ an-Nadhar ⇒ Malik ⇒ Quraisy (Fihr) ⇒ Ghalib ⇒ Lu’ay ⇒ Ka’ab ⇒ Murrah ⇒ Kilab ⇒ Qushay ⇒ Zuhrah ⇒ Abdu Manaf ⇒ Hasyim ⇒ Abdul Muthalib ⇒ Abdullah ⇒ Muhammad Saw.</ion-card-content>

          <ion-card-header>
            <ion-card-title>Keturunan Ibu: </ion-card-title>
          </ion-card-header>
          <ion-card-content> Adam As. ⇒ Syits ⇒ Anusy ⇒ Qinan ⇒ Mihlail ⇒ Yarid ⇒ Idris As. ⇒ Matusyalih ⇒ Lamak ⇒ Nuh As. ⇒ Sam ⇒ Arfakhsyad ⇒ Syalih ⇒ Abir ⇒ Falij ⇒ Ra’u ⇒ Saruj ⇒ Nahur ⇒ Tarakh ⇒ Ibrahim As. ⇒ Ismail As. ⇒ Nabit ⇒ Yasyjub ⇒ Ya’rub ⇒ Tairah ⇒ Nahur ⇒ Muqawwim ⇒ Udad ⇒ Adnan ⇒ Ma’ad ⇒ Nizar ⇒ Mudhar ⇒ Ilyas ⇒ Mudrikah ⇒ Khuzaimah ⇒ Kinanah ⇒ an-Nadhar ⇒ Malik ⇒ Quraisy (Fihr) ⇒ Ghalib ⇒ Lu’ay ⇒ Ka’ab ⇒ Murrah ⇒ Kilab ⇒ Qushay ⇒ Zuhrah ⇒ Abdu Manaf ⇒ Wahab ⇒ Aminah ⇒ Muhammad Saw</ion-card-content>


          <ion-card-header>
            <ion-card-title>Usia: </ion-card-title>
          </ion-card-header>
          <ion-card-content>62 tahun </ion-card-content>

          <ion-card-header>
            <ion-card-title>Tempoh sejarah: </ion-card-title>
          </ion-card-header>
          <ion-card-content>570-632 M</ion-card-content>

          <ion-card-header>
            <ion-card-title>Tempat diutuskan: </ion-card-title>
          </ion-card-header>
          <ion-card-content>Mekah</ion-card-content>

          <ion-card-header>
            <ion-card-title>Jumlah keturunannya: </ion-card-title>
          </ion-card-header>
          <ion-card-content> 7 orang anak iaitu 3 orang putera: Qasim, Abdullah dan Ibrahim, serta 4 orang puteri: Zainab, Ruqayyah, Ummi Kultsum dan Fatimah az-Zahra</ion-card-content>

          <ion-card-header>
            <ion-card-title>Tempat wafat: </ion-card-title>
          </ion-card-header>
          <ion-card-content>Madinah</ion-card-content>

          <ion-card-header>
            <ion-card-title>Sebutan kaumnya: </ion-card-title>
          </ion-card-header>
          <ion-card-content>Bangsa Arab</ion-card-content>

          <ion-card-header>
            <ion-card-title>Sebutan nama baginda di dalam Al-Quran: </ion-card-title>
          </ion-card-header>
          <ion-card-content>25 kali</ion-card-content>

        </ion-card>
        </ion-content>
