<ion-header>
  <ion-toolbar color="tangaroa" class="ion-text-center">
    <ion-title>9. Doa Nabi Ayyub</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
      <ion-content fullscreen>
        <ion-card class="transparent">
          <ion-card-header>
            <ion-card-title>أَنِّي مَسَّنِيَ الضُّرُّ وَأَنْتَ أَرْحَمُ الرَّاحِمِينَ (83)</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Artinya: “Ya Tuhanku, sesungguh, aku telah ditimpa penyakit, padahal Engkau Tuhan Yang Maha Penyayang dari semua yang penyayang” (QS Al-Anbiya’ 83).
          </ion-card-content>
          <audio src="assets/ayat83.mp3"controls></audio>
        </ion-card>