<ion-header>
  <ion-toolbar color="tangaroa" class="ion-text-center">
    <ion-title>3. Doa Nabi Ibrahim</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
      <ion-content fullscreen>
        <ion-card class="transparent">
          <ion-card-header>
            <ion-card-title>(رَبَّنَا تَقَبَّلْ مِنَّا إِنَّكَ أَنْتَ السَّمِيعُ الْعَلِيمُ (127) رَبَّنَا وَاجْعَلْنَا مُسْلِمَيْنِ لَكَ وَمِنْ ذُرِّيَّتِنَا أُمَّةً مُسْلِمَةً لَكَ وَأَرِنَا مَنَاسِكَنَا وَتُبْ عَلَيْنَا إِنَّكَ أَنْتَ التَّوَّابُ الرَّحِيمُ (128
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Artinya: “Ya Tuhan kami, terimalah (amal) dari kami. Sungguh, Engkaulah Yang Maha Mendengar, Maha Mengetahui.(127)
            Ya Tuhan kami, jadikanlah kami orang yang berserah diri kepada-Mu, dan anak cucu kami (juga) umat yang berserah diri kepada-Mu dan tunjukkanlah kepada kami cara-cara melakukan ibadah (haji) kami, dan terimalah tobat kami. Sungguh, Engkaulah Yang Maha Penerima tobat, Maha Penyayang.(128)(QS Al-Baqarah, 127-128)
          </ion-card-content>
          <audio src="assets/127-128.mp3"controls></audio>
        </ion-card>


        <ion-card class="transparent">
          <ion-card-header>
            <ion-card-title>رَبِّ اجْعَلْنِي مُقِيمَ الصَّلَاةِ وَمِنْ ذُرِّيَّتِي رَبَّنَا وَتَقَبَّلْ دُعَاءِ (40) رَبَّنَا اغْفِرْ لِي وَلِوَالِدَيَّ وَلِلْمُؤْمِنِينَ يَوْمَ يَقُومُ الْحِسَابُ (41) </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Artinya: “Ya Tuhanku, jadikanlah aku dan anak cucuku orang yang tetap melaksanakan shalat, ya Tuhan kami, terimlah doaku. Ya Tuhan kami, ampunilah aku dan kedua orang tuaku dan orang-orang yang beriman pada hari diadakan perhitungan (hari kiamat)” (QS Ibrahim 40-41).
          </ion-card-content>
          <audio src="assets/40-41.mp3"controls></audio>
        </ion-card>

        <ion-card class="transparent">
          <ion-card-header>
            <ion-card-title>رَبِّ هَبْ لِي حُكْمًا وَأَلْحِقْنِي بِالصَّالِحِينَ (83) وَاجْعَلْ لِي لِسَانَ صِدْقٍ فِي الْآخِرِينَ (84) وَاجْعَلْنِي مِنْ وَرَثَةِ جَنَّةِ النَّعِيمِ (85)</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Artinya: “Ya Tuhaku, berikanlah kepadaku ilmu dan masukkanlah aku ke dalam golongan orang-orang yang shaleh” (QS Al-Syu’ara’, 83-85).
          </ion-card-content>
          <audio src="assets/83-85.m4a"controls></audio>
        </ion-card>

        <ion-card class="transparent">
          <ion-card-header>
            <ion-card-title>رَبَّنَا عَلَيْكَ تَوَكَّلْنَا وَإِلَيْكَ أَنَبْنَا وَإِلَيْكَ الْمَصِيرُ (4) رَبَّنَا لَا تَجْعَلْنَا فِتْنَةً لِلَّذِينَ كَفَرُوا وَاغْفِرْ لَنَا رَبَّنَا إِنَّكَ أَنْتَ الْعَزِيزُ الْحَكِيمُ (5)</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Artinya: “Ya Tuhan kami, hanya kepada-Mu kami berserah diri, dan kepada-Mu kami bertaubat dan hanya kepada-Mu kami kembali. Ya Tuhan kami, janganlah Engkau jadikan kami (sasaran) fitnah bagi orang-orang kafir. Dan ampunilah kami, Ya Tuhan kami, sesungguhnya Engkau Yang Maha Perkasa, Maha Bijaksana. (QS Al-Mumtahanah, 4-5).  
          </ion-card-content>
          <audio src="assets/4-5.mp3"controls></audio>
        </ion-card>

        <ion-card class="transparent">
          <ion-card-header>
            <ion-card-title> رَبِّ هَبْ لِي مِنَ الصَّالِحِينَ (100)</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Artinya: “Ya Tuhanku, anugerahkanlah aku (keturunan) dari orang-orang yang shaleh” (QS al-Shaffat, 100). 
            <audio src="assets/100.mp3"controls></audio>
         </ion-card-content>
        </ion-card>