<ion-header>
  <ion-toolbar color="tangaroa" class="ion-text-center">
    <ion-title>2.Doa Nabi Nuh</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
      <ion-content fullscreen>
        <ion-card class="transparent">
          <ion-card-header>
            <ion-card-title>رَبِّ إِنِّي أَعُوذُ بِكَ أَنْ أَسْأَلَكَ مَا لَيْسَ لِي بِهِ عِلْمٌ وَإِلَّا تَغْفِرْ لِي وَتَرْحَمْنِي أَكُنْ مِنَ الْخَاسِرِينَ (47)</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Artinya: “Ya Tuhanku, sesungguhnya aku berlingdung kepada-Mu untuk memohon kepada -Mu sesuatu yang aku tidak mengetahui (hakikatnya). Kalau Engkau tidak mengampuniku, niscaya aku termasuk orang yang merugi” (QS Hud, 47).
          </ion-card-content>
          <audio src="assets/ayat47.mp3"controls></audio>
        </ion-card>

        <ion-card class="transparent">
          <ion-card-header>
            <ion-card-title>رَبِّ أَنْزِلْنِي مُنْزَلًا مُبَارَكًا وَأَنْتَ خَيْرُ الْمُنْزِلِينَ (29)</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Artinya: “Ya Tuhanku, tempatkanlah aku pada tempat yang diberkahi dan Engkau adalah sebaik-baik pemberi tempat” (QS Al-Mu’minun, 29).
          </ion-card-content>

          <audio src="assets/ayat29.mp3"controls></audio>
        </ion-card>

        <ion-card class="transparent">
          <ion-card-header>
            <ion-card-title> رَبِّ اغْفِرْ لِي وَلِوَالِدَيَّ وَلِمَنْ دَخَلَ بَيْتِيَ مُؤْمِنًا وَلِلْمُؤْمِنِينَ وَالْمُؤْمِنَاتِ وَلَا تَزِدِ الظَّالِمِينَ إِلَّا تَبَارًا (28)</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Artinya: “Ya Tuhanku, ampunilah dosaku dan (dosa) kedua orang tuaku dan siapapun yang memasuki rumahku dengan beriman laki-laki dan perempuan. Dan jangan lah Engkau tambahkan bagi orang-orang yang zalim itu selain kehancuran” (QS Nuh, 28)
          </ion-card-content>
          <audio src="assets/ayat28.mp3"controls></audio>
        </ion-card>
        </ion-content>
        
        