<ion-header>
  <ion-toolbar color="tangaroa" class="ion-text">
    <ion-title>15. Nabi Harun A.S </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
      <ion-content fullscreen>
        <ion-card class="transparent"> 
          <ion-card-header>
            <ion-card-title>Nama: </ion-card-title>
          </ion-card-header>
          <ion-card-content>Harun bin Imran </ion-card-content>

          <ion-card-header>
            <ion-card-title>Isterinya </ion-card-title>
          </ion-card-header>
          <ion-card-content>Ayarisha </ion-card-content>

          <ion-card-header>
            <ion-card-title>Keturunanya: </ion-card-title>
          </ion-card-header>
          <ion-card-content> Adam As. ⇒ Syits ⇒ Anusy ⇒ Qinan ⇒ Mihlail ⇒ Yarid ⇒ Idris As. ⇒ Matusyalih ⇒ Lamak ⇒ Nuh As. ⇒ Sam ⇒ Arfakhsyad ⇒ Syalih ⇒ Abir ⇒ Falij ⇒ Ra’u ⇒ Saruj ⇒ Nahur ⇒ Tarakh ⇒ Ibrahim As. ⇒ Ishaq As. ⇒ Ya’qub As. ⇒ Lawi ⇒ Azar ⇒ Qahats ⇒ Imran ⇒ Harun As. </ion-card-content>

          <ion-card-header>
            <ion-card-title>Usia: </ion-card-title>
          </ion-card-header>
          <ion-card-content>123 tahun </ion-card-content>

          <ion-card-header>
            <ion-card-title>Tempoh sejarah: </ion-card-title>
          </ion-card-header>
          <ion-card-content>1531-1408 SM </ion-card-content>

          <ion-card-header>
            <ion-card-title>Tempat diutuskan: </ion-card-title>
          </ion-card-header>
          <ion-card-content> Sinai di Mesir</ion-card-content>

          <ion-card-header>
            <ion-card-title>Tempat wafat: </ion-card-title>
          </ion-card-header>
          <ion-card-content> Gunung Nebo (Bukit Nabu’) di Jordan</ion-card-content>

          <ion-card-header>
            <ion-card-title>Sebutan kaumnya: </ion-card-title>
          </ion-card-header>
          <ion-card-content>Bani Israel dan Fir’aun (gelaran untuk Raja Mesir)</ion-card-content>

          <ion-card-header>
            <ion-card-title>Sebutan nama baginda di dalam Al-Quran: </ion-card-title>
          </ion-card-header>
          <ion-card-content>20 kali</ion-card-content>

        </ion-card>
        </ion-content>
