<ion-header>
  <ion-toolbar color="tangaroa">
    <ion-buttons slot="start" color="light">
      <ion-back-button></ion-back-button>
      <ion-text color="light" class="ion-text-center">
        <h1>Nabi Shaleh(شالح)</h1>
        </ion-text>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

    <ion-content fullscreen class="ion-padding" scroll-y="false">
      
       <ion-slides>
        <ion-slide>
          <div class="slide">
            <p>Kaum Thamud adalah keturunan dan pengikut Nabi Nuh. Sama seperti nenek moyang mereka.
              Kaum Tsamud mempunyai kepakaran dalam bertani, berdagang dan juga mengukir</p>
              <p>Kemahiran memahat mereka sangat luar biasa dan mampu membuat patung yang indah.
                Mereka mula membuat patung untuk disembah</p>
              <ion-card>
                <audio src="assets/1.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <p>Mereka semua telah melupakan Allah. Tuhan mereka adalah berhala. Untuk menyedarkan mereka, Allah mengutus Nabi Salih sebagai panduan.</p>
              <p>Dakwah Nabi Saleh mendapat banyak cabaran, Mereka meminta Nabi Saleh membuktikan bahawa dia adalah utusan Allah.
                Dengan kekuasaan Allah, Nabi Saleh dapat mengubah batu menjadi seekor unta betina.</p>
              <ion-card>
                <audio src="assets/2.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <p>Unta betina itu membuktikan bahawa Nabi Shalih adalah pesuruh Allah. Pemuka kaum Tsamud tidak senang.
              Mereka merancang sesuatu untuk mengganggu Nabi Saleh.</p>
            <p>Pemuka kaum Tsamud bekerja dengan orang yang membenci Nabi Saleh, mereka merancang untuk membunuh unta milik Nabi Saleh.</p>
              <ion-card>
                <audio src="assets/3.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <p>Mereka berjaya menangkap dan membunuh unta Nabi Saleh.
              Padahal Nabi Shalih pernah berkata jika mereka menyakiti unta betina tersebut, maka Allah akan menurunkan azab.</p>
              <p>Sesungguhnya kaum Tsamud itu sombong. Mereka menuntut hukuman dari Allah.
                Oleh kerana hukuman itu belum tiba, mereka menuduh Nabi Salih sebagai penipu dan pembohong.</p>
              <ion-card>
                <audio src="assets/4.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <p>Hukuman yang pedih menimpa umat Thamud. Langit ditutupi oleh awan gelap dan batu-batu besar jatuh dari langit.
              Tsamud dan kotanya yang megah dihancurkan di bawah batu</p>
              <p></p>
              <ion-card>
                <audio src="assets/5.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <p>Firman Allah :Dan kepada kaum Tsamud (Kami utus) saudara mereka, Saleh. Dia berkata, “Wahai kaumku! Sembahlah Allah, tidak ada tuhan bagimu selain Dia. Dia telah menciptakanmu dari bumi (tanah) dan menjadikanmu pemakmurnya, karena itu mohonlah ampunan kepada-Nya, kemudian bertobatlah kepada-Nya.
              Sesungguhnya Tuhanku sangat dekat (rahmat-Nya) dan memperkenankan (doa hamba-Nya).”</p>
              <ion-card>
                <audio src="assets/6.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <p>Mereka (kaum Tsamud) berkata, “Wahai Saleh! Sungguh, engkau sebelum ini berada di tengah-tengah kami merupakan orang yang di harapkan, mengapa engkau melarang kami menyembah apa yang disembah oleh nenek moyang kami? 
              Sungguh, kami benar-benar dalam keraguan dan kegelisahan terhadap apa (agama) yang engkau serukan kepada kami.”</p>
              
              <ion-card>
                <audio src="assets/7.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <p>Dia (Saleh) berkata, “Wahai kaumku! Terangkanlah kepadaku jika aku mempunyai bukti yang nyata dari Tuhanku dan diberi-Nya aku rahmat (kenabian) dari-Nya, maka siapa yang akan menolongku dari (azab) Allah jika aku mendurhakai-Nya? Maka kamu hanya akan menambah
              kerugian kepadaku.(Surah Hud:ayat 61-63)
            </p><ion-card>
                <audio src="assets/8.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

       

      </ion-slides>
    </ion-content>
