<ion-header>
  <ion-toolbar color="tangaroa" class="ion-text">
    <ion-title>10. Nabi Yaqub A.S </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
      <ion-content fullscreen>
        <ion-card class="transparent">
          <ion-card-header>
            <ion-card-title>Nama: </ion-card-title>
          </ion-card-header>
          <ion-card-content>Ya’qub/Israel bin Ishaq</ion-card-content>

          <ion-card-header>
            <ion-card-title>Keturunanya: </ion-card-title>
          </ion-card-header>
          <ion-card-content>Adam As. ⇒ Syits ⇒ Anusy ⇒ Qinan ⇒ Mihlail ⇒ Yarid ⇒ Idris As. ⇒ Matusyalih ⇒ Lamak ⇒ Nuh As. ⇒ Sam ⇒ Arfakhsyad ⇒ Syalih ⇒ Abir ⇒ Falij ⇒ Ra’u ⇒ Saruj ⇒ Nahur ⇒ Tarakh ⇒ Ibrahim As. ⇒ Ishaq As. ⇒ Ya’qub As.</ion-card-content>

          <ion-card-header>
            <ion-card-title>Usia: </ion-card-title>
          </ion-card-header>
          <ion-card-content>147 tahun </ion-card-content>

          <ion-card-header>
            <ion-card-title>Tempoh sejarah: </ion-card-title>
          </ion-card-header>
          <ion-card-content>1837-1690 SM</ion-card-content>

          <ion-card-header>
            <ion-card-title>Tempat diutuskan: </ion-card-title>
          </ion-card-header>
          <ion-card-content>Syam(Syria)</ion-card-content>

          <ion-card-header>
            <ion-card-title>Jumlah Keturunanya: </ion-card-title>
          </ion-card-header>
          <ion-card-content>12 orang putera (Rubin, Simeon, Lewi, Yahuda, Dan, Naftali, Gad, Asyir, Isakhar, Zebulaon, Yusuf dan Benyamin) dan 2 orang puteri (Dina dan Yathirah)</ion-card-content>
         
          <ion-card-header>
            <ion-card-title>Tempat wafat: </ion-card-title>
          </ion-card-header>
          <ion-card-content>Al-Khalil (Hebron), Palestin</ion-card-content>

          <ion-card-header>
            <ion-card-title>Sebutan kaumnya: </ion-card-title>
          </ion-card-header>
          <ion-card-content>Bangsa Kan’an.</ion-card-content>

          <ion-card-header>
            <ion-card-title>Sebutan nama baginda di dalam Al-Quran: </ion-card-title>
          </ion-card-header>
          <ion-card-content>18 kali</ion-card-content>

        </ion-card>
        </ion-content>
