<ion-header>
  <ion-toolbar color="tangaroa">
    <ion-buttons slot="start" color="light">
      <ion-back-button></ion-back-button>
      <ion-text color="light" class="ion-text-center">
        <h1> Nabi Ismail(اسحق)</h1>
        </ion-text>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

    <ion-content fullscreen class="ion-padding" scroll-y="false">
      
      
      
        
        <ion-slides>
        <ion-slide>
          <div class="slide">
            <p>Nabi Idris adalah keturunan keenam daripada Nabi Adam. Nabi Idris adalah keturunan Nabi Adam yang pertama dilantik menjadi nabi selepas Adam dan Syits.
              Baginda juga merupakan moyang kepada nabi Nuh alaihissalam.</p>
              <p></p>
              <ion-card>
                <audio src="assets/idris1.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <p>Allah telah menyebut Idris sebagai Nabi dan orang yang benar di dalam surah Maryam ayat 56 dan 57: </p>
              <p>“Ceritakanlah (kepada mereka, wahai Muhammad! (kisah)) Idris di dalam al-Quran. Sesungguhnya dia adalah orang yang benar(shiddiq) dan seorang nabi.
                Kami telah mengangkat (darjatnya) ke tingkatan yang tinggi.”</p>
              <ion-card>
                <audio src="assets/idris2.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <p>Semasa kanak-kanak, Idris telah belajar daripada Syits dan baginda telah mendapat banyak ilmu. Setelah dewasa, Allah telah melantik Idris menjadi nabi dan memberikan baginda sebanyak 30 kitab.
              Setelah menjadi nabi,Idris telah menyeru pengikutnya menyembah Allah dan berbuat kebaikan.</p>
              <p></p>
              <ion-card>
                <audio src="assets/idris3.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <p>Nabi Idris adalah orang yang pertama menulis menggunakan pen dan memakai baju yang berjahit.
              Nabi Idris juga memiliki kepakaran menunggang kuda, mengira, ilmu bintang, menggunting dan menjahit pakaian. </p>
              <p>Baginda juga adalah seorang yang sangat berani dan gagah dalam melaksanakan dakwah dan menentang kejahatan sehingga digelar Asadul Asad iaitu Singa dari segala Singa.</p>
              <ion-card>
                <audio src="assets/idris4.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <p>Sepanjang Nabi Idris berdakwah, baginda hanya mempunyai pengikut yang sedikit.
              Ramai orang yang menentang nabi Idris sehingga baginda terpaksa melarikan diri dan meninggalkan Mesir.</p>
              <p>Allah telah menurunkan wahyu kepada baginda dan memberitahunya bahawa Allah mengangkat darjat nabi Idris seperti seluruh amalan anak Adam.</p>
              <ion-card>
                <audio src="assets/idris5.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <p>Salah satu malaikat pilihan Allah datang menemui Nabi Idris dan mengajak baginda berbincang sehingga amalan nabi Idris bertambah.
              Kemudian, malaikat tersebut membawa nabi Idris di antara kedua sayapnya naik ke langit.</p>
              <ion-card>
                <audio src="assets/idris6.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <p>Apabila sampai ke langit keempat, mereka bertemu dengan Izrail. Izrail bertanya di mana nabi Idris. Malaikat yang membawa nabi Idris memberitahu bahawa Idris ada di belakangnya.
              Kemudian, Izrail memberitahu bahawa nyawa nabi Idris harus dicabut di langit yang keempat dan Izrail terus mencabut roh nabi Idris.</p>
              <ion-card>
                <audio src="assets/idris7.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <p>Begitulah kisah Nabi Idris yang telah Allah muliakan di dalam firmanNya,“Ingatlah kisah Ismail, Idris dan Zulkifli. Masing-masing tergolong orang yang sabar.”( Surah Al-Anbiya: ayat 85)</p>
              <ion-card>
                <audio src="assets/idris8.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

      </ion-slides>
    </ion-content>
