<ion-header>
  <ion-toolbar color="tangaroa" class="ion-text-center">
    <ion-title>11. Doa Nabi Yunus</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
      <ion-content fullscreen>
        <ion-card class="transparent">
          <ion-card-header>
            <ion-card-title>لَا إِلَهَ إِلَّا أَنْتَ سُبْحَانَكَ إِنِّي كُنْتُ مِنَ الظَّالِمِينَ (87)</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Artinya: “Tidak ada tuhan selain Engkau, Maha Suci Engkau. Sungguh, aku termasuk orang-orang yang zalim” (QS Al-Anbiya’ 87).
          </ion-card-content>
          <audio src="assets/ayat87.mp3"controls></audio>
        </ion-card>