<ion-header>
  <ion-toolbar color="tangaroa" class="ion-text">
    <ion-title>4. Nabi Hud A.S </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
      <ion-content fullscreen>
        <ion-card class="transparent">
          <ion-card-header>
            <ion-card-title>Nama: </ion-card-title>
          </ion-card-header>
          <ion-card-content>Hud bin Abdullah. </ion-card-content>

          <ion-card-header>
            <ion-card-title>Keturunanya: </ion-card-title>
          </ion-card-header>
          <ion-card-content>Adam As. ⇒ Syits ⇒ Anusy ⇒ Qinan ⇒ Mihlail ⇒ Yarid ⇒ Idris As. ⇒ Matusyalih ⇒ Lamak ⇒ Nuh As. ⇒ Sam ⇒ Iram (Aram) ⇒ ‘Aush (‘Uks) ⇒ ‘Ad ⇒ al-Khulud ⇒ Rabah ⇒ Abdullah ⇒ Hud As.</ion-card-content>

          <ion-card-header>
            <ion-card-title>Usia: </ion-card-title>
          </ion-card-header>
          <ion-card-content>130 tahun </ion-card-content>

          <ion-card-header>
            <ion-card-title>Tempoh sejarah: </ion-card-title>
          </ion-card-header>
          <ion-card-content>2450-2320 SM </ion-card-content>

          <ion-card-header>
            <ion-card-title>Tempat diutuskan: </ion-card-title>
          </ion-card-header>
          <ion-card-content>Al-Ahqaf (antara Yaman dan Oman)</ion-card-content>

          <ion-card-header>
            <ion-card-title>Tempat wafat: </ion-card-title>
          </ion-card-header>
          <ion-card-content>Bahagian Timur Hadhramaut Yaman</ion-card-content>

          <ion-card-header>
            <ion-card-title>Sebutan kaumnya: </ion-card-title>
          </ion-card-header>
          <ion-card-content>Kaum ‘Ad</ion-card-content>

          <ion-card-header>
            <ion-card-title>Sebutan nama baginda di dalam Al-Quran: </ion-card-title>
          </ion-card-header>
          <ion-card-content>7 kali</ion-card-content>

        </ion-card>
        </ion-content>
