<ion-header>
  <ion-toolbar color="tangaroa" class="ion-text">
    <ion-title>3. Nabi Nuh A.S </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
      <ion-content fullscreen>
        <ion-card class="transparent">
          <ion-card-header>
            <ion-card-title>Nama: </ion-card-title>
          </ion-card-header>
          <ion-card-content>Nuh/Yasykur/Abdul Ghaffar bin Lamak</ion-card-content>

          <ion-card-header>
            <ion-card-title>Keturunanya: </ion-card-title>
          </ion-card-header>
          <ion-card-content> Adam As. ⇒ Syits ⇒ Anusy ⇒ Qinan ⇒ Mihlail ⇒ Yarid ⇒ Idris As. ⇒ Matusyalih ⇒ Lamak ⇒ Nuh As</ion-card-content>

          <ion-card-header>
            <ion-card-title>Usia: </ion-card-title>
          </ion-card-header>
          <ion-card-content>950 tahun </ion-card-content>

          <ion-card-header>
            <ion-card-title>Tempoh sejarah: </ion-card-title>
          </ion-card-header>
          <ion-card-content>3993-3043 SM</ion-card-content>

          <ion-card-header>
            <ion-card-title>Tempat diutuskan: </ion-card-title>
          </ion-card-header>
          <ion-card-content>Selatan Iraq</ion-card-content>

          <ion-card-header>
            <ion-card-title>Jumlah keturunannya: </ion-card-title>
          </ion-card-header>
          <ion-card-content> 4 orang putera (Sam, Ham, Yafits dan Kan’an)</ion-card-content>

          <ion-card-header>
            <ion-card-title>Tempat wafat: </ion-card-title>
          </ion-card-header>
          <ion-card-content>Mekah</ion-card-content>

          <ion-card-header>
            <ion-card-title>Sebutan kaumnya: </ion-card-title>
          </ion-card-header>
          <ion-card-content>Kaum Nuh</ion-card-content>

          <ion-card-header>
            <ion-card-title>Sebutan nama baginda di dalam Al-Quran: </ion-card-title>
          </ion-card-header>
          <ion-card-content>43 kali</ion-card-content>

        </ion-card>
        </ion-content>
