<ion-header>
  <ion-toolbar color="tangaroa" class="ion-text-center">
    <ion-title>12. Doa Nabi Zakaria</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
      <ion-content fullscreen>
        <ion-card class="transparent">
          <ion-card-header>
            <ion-card-title>بِّ هَبْ لِي مِنْ لَدُنْكَ ذُرِّيَّةً طَيِّبَةً إِنَّكَ سَمِيعُ الدُّعَاءِ (38)</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Artinya: “Ya Tuhanku, berilah aku keturunan yang baik di sisi-Mu, sesungguhnya Engkau Maha Mendengar doa” (QS Ali Imran, 38).
          </ion-card-content>
          <audio src="assets/ayat38.mp3"controls></audio>
        </ion-card>

        <ion-card class="transparent">
          <ion-card-header>
            <ion-card-title>رَبِّ لَا تَذَرْنِي فَرْدًا وَأَنْتَ خَيْرُ الْوَارِثِينَ (89)</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Artinya: “Ya Tuhanku, janganlah Engkau biarkan aku hidup seorang diri (tanpa keturunan) dan Engkaulah ahli waris yang terbaik” (QS Al-Anbiya’, 89).
          </ion-card-content>
          <audio src="assets/ayat89.mp3"controls></audio>
        </ion-card>