<ion-header>
  <ion-toolbar color="tangaroa">
    <ion-buttons slot="start" color="light">
      <ion-back-button></ion-back-button>
      <ion-text color="light" class="ion-text-center">
        <h1> Nabi Nuh(نوح)</h1>
        </ion-text>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

    <ion-content fullscreen class="ion-padding" scroll-y="false">
      
       <ion-slides>
        <ion-slide>
          <div class="slide">
            <p><b>Pada zaman dahulu ada seorang nabi yang kisahnya cukup masyhur kerana membuat bahtera besar. Nabi ini juga terkenal kerana tempoh dakwahnya yang lama sehingga 950 tahun.
              Baginda tidak pernah mengenal penat lelah walupun dakwahnya tidak mendapat reaksi positif daripada kaumnya.</b></p>
              <p><b>Baginda ialah nabi nuh alaihissalam.</b></p>
              <ion-card>
                <audio src="assets/nuh1.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <p><b>Nabi Nuh merupakan nabi yang ke 4 selepas nabi Adam, Idris dan Syith. Beliau diutuskan oleh Allah kepada kaumnya yang menyembah berhala ciptaan mereka sendiri.
              Mereka membuat berhala kemudiannya memuja dan menjadikan berhala ciptaan mereka sebagai tuhan.</b></p>
              <p><b>Selain itu, mereka juga hidup bergelumang dengan maksiat dan perbuatan kufur kepada Allah. </b></p>
              <ion-card>
                <audio src="assets/nuh2.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <p>Lalu Allah utuskan Nabi Nuh untuk menyeru kaumnya menyembah Allah dan meninggalkan perbuatan syirik.
              Nabi Nuh mula berdakwah menyeru kaumnya meninggalkan kekufuran kepada keimanan, daripada syirik kepada tauhid, daripada maksiat kepada taat, daripada kehidupan yang bertunjangkan materialism semata-mata kepada kehidupan duniawi dan ukhrawi. </p>
              <ion-card>
                <audio src="assets/nuh3.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <p>Namun kaumnya tetap ingkar dan berdegil.Mereka tidak mahu menyahut seruan dan dakwah Nabi Nuh bahkan lebih daripada itu, mereka menuduh Nabi Nuh seorang yang gila, majnun, hilang akal, tukang sihir dan sebagainya.Tidak kurang juga yang mengejek dan mencela serta memaki hamun terhadap baginda.
              Namun baginda tetap tabah,nabi tetap bertahan dan terus berdakwah menyeru kepada tauhid.</p>
              <p></p>
              <ion-card>
                <audio src="assets/nuh4.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <p>Semakin lantang seruan Nabi Nuh sampaikan, semakin kuat tentangan yang Nabi Nuh A.S hadapi. Ajaran nabi nuh ditentang habis-habisan.
              Bahkan lebih daripada itu, mereka mencabar kebenaran risalah yang dibawa Nabi Nuh dan meminta bukti kenabian. </p>
              <p>Nabi Nuh Alaihissalam tetap bersabar dan meneruskan dakwahnya seperti biasa.
                Baginda menyerahkan kejayaan dakwahnya kepada Allah dengan bertawakkal kepadaNYA</p>
              <ion-card>
                <audio src="assets/nuh5.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <p>Allah mewahyukan kepada Nabi Nuh agar membina bahtera. Tanpa banyak soal, Nabi Nuh membina bahtera di atas puncak bukit.
              Melihatkan keadaan Nabi Nuh yang membina bahtera di atas puncak bukit, kaumnya mengejek, memperli dan mentertawakannya. </p>
              <p>Namun baginda tetap bersabar, enggan melayan karenah mereka dan menruskan usaha membuat bahtera kerana itu adalah perintah Allah yang tidak doleh sama sekali diingkari. </p>
              <ion-card>
                <audio src="assets/nuh6.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <p> Apabila kapal yang dibina Nabi Nuh siap, Allah memerintahkan kepada baginda supaya mengumpulkan semua makhluk secara berpasang-pasangan.
              Nabi nuh dan sebahagian kecil kaumnya yang beriman kepada Allah menaiki kapal tersebut.</p>
              
              <ion-card>
                <audio src="assets/nuh7.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <p>Lalu Allah memerintahkan kepada langit supaya menurunkan hujan. Allah juga memerintahkan kepada bumi supaya mengeluarkan air daripada perut bumi.
              Air hujan yang lebat turun mencurah-curah ke bumi ditambah pula dengan bumi yang mengeluarkan air yang membuak-buak.</p>
              <ion-card>
                <audio src="assets/nuh8.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <p> Dalam keadaan sedemikian, Nabi Nuh masih sempat menyeru kepada kaumnya termasuklah anaknya supaya beriman kepada Allah dan menaiki kapal bersama-samanya.
              Kaumnya enggan termasuklah anak lelaki baginda sendiri.</p>
              <p>Mereka dengan angkuhnya berkata kami akan mendaki puncak bukit yang lebih tinggi, nanti kami akan selamat.</p>
              <ion-card>
                <audio src="assets/nuh9.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <p> Banjir ini merupakan bala dan ujian daripada Allah kepada kaum Nabi Nuh Alaihissalam. Banjir ini telah menenggelamkan sama sekali kaum Nabi Nuh yang kufur kepada Allah.</p>
            <p>Demikian lah janji Allah sentiasa benar.Setelah belayar sekelian lama, akhirnya bahtera Nabi Nuh yang memuatkan orang-orang yang beriman kepada Allah, segala jenis makhluk berpasangan ini berlabuh di puncak gunung Al-Judiy.</p>
              <ion-card>
                <audio src="assets/nuh10.mp3"controls></audio>
              </ion-card>
          </div>
        </ion-slide>

      </ion-slides>
    </ion-content>
