<ion-header>
  <ion-toolbar color="tangaroa" class="ion-text">
    <ion-title>21. Nabi Yunus A.S </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
      <ion-content fullscreen>
        <ion-card class="transparent">
          <ion-card-header>
            <ion-card-title>Nama: </ion-card-title>
          </ion-card-header>
          <ion-card-content>Yunus/Yunan/Dzan Nun bin Matta binti Abumatta</ion-card-content>

          <ion-card-header>
            <ion-card-title>Keturunanya: </ion-card-title>
          </ion-card-header>
          <ion-card-content>Adam As. ⇒ Syits ⇒ Anusy ⇒ Qinan ⇒ Mihlail ⇒ Yarid ⇒ Idris As. ⇒ Matusyalih ⇒ Lamak ⇒ Nuh As. ⇒ Sam ⇒ Arfakhsyad ⇒ Syalih ⇒ Abir ⇒ Falij ⇒ Ra’u ⇒ Saruj ⇒ Nahur ⇒ Tarakh ⇒ Ibrahim As. ⇒ Ishaq As. ⇒ Ya’qub As. ⇒ Yusuf As. ⇒ Bunyamin ⇒ Abumatta ⇒ Matta ⇒ Yunus As.</ion-card-content>

          <ion-card-header>
            <ion-card-title>Usia: </ion-card-title>
          </ion-card-header>
          <ion-card-content>70 tahun </ion-card-content>

          <ion-card-header>
            <ion-card-title>Tempoh sejarah: </ion-card-title>
          </ion-card-header>
          <ion-card-content>820-750 SM</ion-card-content>

          <ion-card-header>
            <ion-card-title>Tempat diutuskan: </ion-card-title>
          </ion-card-header>
          <ion-card-content>Ninawa, Iraq</ion-card-content>
         
          <ion-card-header>
            <ion-card-title>Tempat wafat: </ion-card-title>
          </ion-card-header>
          <ion-card-content>Ninawa, Iraq</ion-card-content>

          <ion-card-header>
            <ion-card-title>Sebutan kaumnya: </ion-card-title>
          </ion-card-header>
          <ion-card-content>Bangsa Asyiria, di utara Iraq</ion-card-content>

          <ion-card-header>
            <ion-card-title>Sebutan nama baginda di dalam Al-Quran: </ion-card-title>
          </ion-card-header>
          <ion-card-content>5 kali</ion-card-content>

        </ion-card>
        </ion-content>
