<ion-header>
  <ion-toolbar color="tangaroa" class="ion-text-center">
    <ion-title>Islamic Stories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="ion-text-center">
    <img src="assets/2.1.jpg" width=40%>
  </p>

<ion-grid fixed>
  <ion-row>
    <ion-col size="12">
      <ion-button [routerLink]="['/inside']" size="default" expand="block" fill="solid">
        <ion-toolbar color="primary" class="ion-text-center">
         Kisah 25 Para Nabi
        </ion-toolbar>
      </ion-button>
    </ion-col>


    <ion-col size="12">
      <ion-button [routerLink]="['/doa']" size="default" expand="block" fill="solid">
        <ion-toolbar color="primary" class="ion-text-center">
         Doa Para Nabi
        </ion-toolbar>
      </ion-button>
    </ion-col>

    <ion-col size="12">
      <ion-button [routerLink]="['/biodata']" size="default" expand="block" fill="solid">
        <ion-toolbar color="primary" class="ion-text-center">
         Biodata Para Nabi
        </ion-toolbar>
      </ion-button>
    </ion-col>

    <ion-col size="12">
      <ion-button [routerLink]="['/video']" size="default" expand="block" fill="solid">
        <ion-toolbar color="primary" class="ion-text-center">
         Video
        </ion-toolbar>
      </ion-button>
    </ion-col>
  
</ion-row>
</ion-grid>
</ion-content>


<ion-footer>
  <ion-toolbar color="tangaroa" class="ion-text-center">
  
</ion-toolbar>
</ion-footer>
