<ion-header>
  <ion-toolbar color="tangaroa" class="ion-text">
    <ion-title>16. Nabi Dzulkifli A.S </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
      <ion-content fullscreen>
        <ion-card class="transparent">
          <ion-card-header>
            <ion-card-title>Nama: </ion-card-title>
          </ion-card-header>
          <ion-card-content> Dzulkifli/Bisyr/Basyar bin Ayyub </ion-card-content>

         

          <ion-card-header>
            <ion-card-title>Usia: </ion-card-title>
          </ion-card-header>
          <ion-card-content>75 tahun </ion-card-content>

          <ion-card-header>
            <ion-card-title>Tempoh sejarah: </ion-card-title>
          </ion-card-header>
          <ion-card-content>1500-1425 SM </ion-card-content>

          <ion-card-header>
            <ion-card-title>Tempat diutuskan: </ion-card-title>
          </ion-card-header>
          <ion-card-content> Damaskus dan sekitarnya</ion-card-content>

          <ion-card-header>
            <ion-card-title>Jumlah keturunannya: </ion-card-title>
          </ion-card-header>
          <ion-card-content>26 orang anak</ion-card-content>

          <ion-card-header>
            <ion-card-title>Tempat wafat: </ion-card-title>
          </ion-card-header>
          <ion-card-content>Damaskus</ion-card-content>

          <ion-card-header>
            <ion-card-title>Sebutan kaumnya: </ion-card-title>
          </ion-card-header>
          <ion-card-content>Bangsa Arami dan Amori (Kaum Rom), Syria dan Jordan</ion-card-content>

          <ion-card-header>
            <ion-card-title>Sebutan nama baginda di dalam Al-Quran: </ion-card-title>
          </ion-card-header>
          <ion-card-content>2 kali</ion-card-content>

        </ion-card>
        </ion-content>
        
