<ion-header>
  <ion-toolbar color="tangaroa" class="ion-text">
    <ion-title>9 Nabi Ishaq A.S </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
      <ion-content fullscreen>
        <ion-card class="transparent">
          <ion-card-header>
            <ion-card-title>Nama: </ion-card-title>
          </ion-card-header>
          <ion-card-content>Ishaq bin Ibrahim</ion-card-content>

          <ion-card-header>
            <ion-card-title>Keturunanya: </ion-card-title>
          </ion-card-header>
          <ion-card-content> Adam As. ⇒ Syits ⇒ Anusy ⇒ Qinan ⇒ Mihlail ⇒ Yarid ⇒ Idris As. ⇒ Matusyalih ⇒ Lamak ⇒ Nuh As. ⇒ Sam ⇒ Arfakhsyad ⇒ Syalih ⇒ Abir ⇒ Falij ⇒ Ra’u ⇒ Saruj ⇒ Nahur ⇒ Tarakh ⇒ Ibrahim As. ⇒ Ishaq As.  </ion-card-content>

          <ion-card-header>
            <ion-card-title>Usia: </ion-card-title>
          </ion-card-header>
          <ion-card-content>180 tahun </ion-card-content>

          <ion-card-header>
            <ion-card-title>Tempoh sejarah: </ion-card-title>
          </ion-card-header>
          <ion-card-content>1897-1717 SM</ion-card-content>

          <ion-card-header>
            <ion-card-title>Tempat diutuskan: </ion-card-title>
          </ion-card-header>
          <ion-card-content>Kota al-Khalil (Hebron) di daerah Kan’an (Kana’an)</ion-card-content>

          <ion-card-header>
            <ion-card-title>Jumlah keturunannya: </ion-card-title>
          </ion-card-header>
          <ion-card-content> 2 orang anak (termasuk Nabi Ya’qub As./Israel)</ion-card-content>

          <ion-card-header>
            <ion-card-title>Tempat wafat: </ion-card-title>
          </ion-card-header>
          <ion-card-content>Al-Khalil (Hebron)</ion-card-content>

          <ion-card-header>
            <ion-card-title>Sebutan kaumnya: </ion-card-title>
          </ion-card-header>
          <ion-card-content>Bangsa Kan’an</ion-card-content>

          <ion-card-header>
            <ion-card-title>Sebutan nama baginda di dalam Al-Quran: </ion-card-title>
          </ion-card-header>
          <ion-card-content>17 kali</ion-card-content>

        </ion-card>
        </ion-content>
