<ion-header>
  <ion-toolbar color="tangaroa" class="ion-text-center">
    <ion-title>5. Doa Nabi Luth</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
      <ion-content fullscreen>
        <ion-card class="transparent">
          <ion-card-header>
            <ion-card-title> رَبِّ نَجِّنِي وَأَهْلِي مِمَّا يَعْمَلُونَ (169)</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Artinya: “Ya Tuhanku selamatkanlah aku dan keluargaku dari yang mereka perbuat” (QS Al-Syu’ara’ 169).
          </ion-card-content>
          <audio src="assets/ayat169.mp3"controls></audio>
        </ion-card>

        <ion-card class="transparent">
          <ion-card-header>
            <ion-card-title>رَبِّ انْصُرْنِي عَلَى الْقَوْمِ الْمُفْسِدِينَ (30)</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Artinya: “Ya Tuhanku, tolonglah aku (dengan menimpakan adzab) atas golongan yang berbuat kerusakan itu. (QS Al-Ankabut 30) 
          </ion-card-content>
          <audio src="assets/ayat30.mp3"controls></audio>
        </ion-card>